html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Oswald',
        sans-serif;
}

#wrap {
    width: 100%;
}

header,
nav,
footer {
    padding: 10px;
}

header {
    text-align: center;
    background-color: pink;
}

nav {
    background-color: #B9FC9A;
    text-align: center;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: white;
}

section {
    background-color: hotpink;
    overflow: auto;
}


footer {
    background-color: pink;
    padding: 10px;
    text-align: center;
    clear: both;
    font-size: 14px;

}

footer ul {
    margin: 10px;
    list-style-type: none;
}

footer li {
    display: inline;
}

aside {
    width: 20%;
    background-color: lavender;
    float: right;
    padding: 10px;
}

article {
    width: 68%;
    background-color: #C2A36D;
    float: left;
    padding: 2%;
}



h1 {
    font-size: 3.0m;
    margin: 10px;
}

@media screen and (max-width: 600px) {

    body {
        background-color: beige;
    }

    #wrap {
        width: 99%;
    }

    nav a,
    footer a {
        display: block;
        width: 100%;
        padding: 20px, 0;
    }

    nav ul,
    nav li {
        margin: 0;
        padding: 0;
    }

    nav {
        padding: 0;
    }

    aside,
    article {
        float: none;
        width: 100%;
    }
    
    .throwback {
        float: center; 
        width: 10%; 
        
    }
    .granola {
        float: center; 
        width: 10%; 
    }
    
    .nat {
        float: center; 
        width: 100px; 
    }
   
    }

    .embed-container {
        position: relative;
        padding-bottom: 55%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
    }

    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    form {
        width: 10%;
        margin: 0 auto;
    }

    fieldset {
        background-color: white;
        border-radius: 1em;
    }

    legend {
        font-size: 30px;
        font-family: Georgia, serif;
        background-color: lime;
        font-weight: bold;
        color: white;
        padding: 5px 10px;
    }

    textarea {
        width: 50%;
    }

    input {}

    .button {
        background-color: lime;
        color: white;
        font-size: 1.5em;
        font-variant: small-caps;
    }
}